<%= link_to "Home", root_path %>

<p>Hi, <%= current_user.name %>. Here's a list of some cool festivals.</p>

<ul>
<% @festivals.each do |user| %>
  <li>
    <%= link_to(festival.name, festival_path(festival) %>
  </li>
  <% end %>
  <li>
  	<a href="/users"><%= "Friends"></a></li>
</ul>