<!DOCTYPE html>
<html>
<head>
  <title>Music Festival Tracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p align = right><a class="coinbase-button" data-code="50528b640141ea3f567f60898273ddf1" data-button-style="donation_small" href="https://coinbase.com/checkouts/50528b640141ea3f567f60898273ddf1">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></p>
<center>
<%= yield %>
</center>
</body>
</html>
